  <div class="jumbotron">
    <h1 class="title">文安驿古镇三期</h1>
    <p class="slogan">文安驿古镇三期是一个地中海式建筑群。
     <br>
     我们希望藉由这个网站，能让大家更加了解三期项目的规划和建设。
     <br>
     在您的关注下我们将不懈努力
     </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">参与建设</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-01-31-font-awesome_4-7-0_car_128_0_d9534f_none.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>延安市延川县文安驿镇</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-01-31-font-awesome_4-7-0_envelope-open_128_0_d9534f_none.png" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>breeder1121@qq.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-01-31-font-awesome_4-7-0_car_128_0_d9534f_none.png" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>0911-8330000</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
